#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(90deg, var(--accent2), var(--accent1));
  transform-origin: 0%;
  z-index: 20;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem 2rem;
  background-color: var(--background);
  box-shadow: var(--background) 0 10px 10px;
  padding: 20px 15px 10px;
  color: var(--secondary);
  font-size: 1.1rem;
  font-weight: 500;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  & i {
    font-size: 1.3em;
  }
}

.toggle-container {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#animation-toggle .switch[data-isOn="true"] .handle {
  background-color: var(--accent1);
}

#dark-mode-toggle {
  @media (min-width: 600px) {
    justify-content: end;
  }
}

.switch {
  width: 40px;
  background-color: var(--secondary);
  display: flex;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  &[data-ison="true"] {
    justify-content: flex-end;
  }
}

.handle {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem 2rem;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start;
  }
  & a {
    text-decoration: none;
    color: var(--secondary);
    &:hover {
      color: var(--primary);
    }
  }
}
