#projects {
  max-width: 1050px;
  margin: 0 auto;
}

#project-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  justify-items: center;
}

.project-card {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary);
  transition: 0.2s;
  @media (max-width: 800px) {
    max-width: 280px;
  }
  &:hover {
    box-shadow: var(--primary) 0 0 15px;
  }
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .project-title {
    padding: 12px;
    h3 {
      color: var(--accent2);
      font-size: 1.3rem;
      margin: 0;
      text-align: center;
    }
  }
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.project-details {
  position: relative;
  max-width: min(80%, 1100px);
  border: 3px solid var(--secondary);
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  gap: 1rem 2rem;
  padding: 2rem;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow: auto;
  }
  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--accent3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    transition: 0.5s all;
    &:hover {
      border: 2px solid var(--accent1);
      cursor: pointer;
    }
    i {
      font-size: 20px;
      color: var(--accent1);
    }
  }
  img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    @media (max-width: 700px) {
      width: 100%;
    }
  }
  .detail-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    @media (min-width: 700px) {
      padding-right: 2rem;
    }
    * {
      margin: 0;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  a {
    color: var(--background);
    &:hover {
      text-decoration: none;
    }
  }
  .tag-row {
    display: flex;
    gap: 1rem;
    .tag {
      background-color: var(--accent3);
      color: var(--accent1);
      padding: 6px 10px;
      border: 1px solid var(--accent1);
      border-radius: 15px;
    }
  }
}
